/* Stylesheet for LoopSelection */
/* Created by Dianna Sutton Brown 2021 */


.navColor {
    background-color: black;
    width: 100%;
}

.navTitle {
    font-weight: bold;
    padding-right: 100px;

}

.containerColor {
    background-color: black;
}

.cover {
    padding-left: 40px;
}

section {
    position: relative;
    width: 100%;
    /* height: 80vh; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


section .content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
}

section .content h2 {
   
    color: #fff;
    font-size: 3em;
}

section .content p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 1.2em;
}

h1 {
    color: white;
}

.headerTitle {
    color: white;
    font-family: 'Righteous', cursive;
    padding-top: 50px;
   
}

.title {
    font-family: 'Righteous', cursive;
    text-align: center;
    padding-top: 5%;
}


.programs img {
    padding: 20px 30px 20px 30px;
}

.halfSectionLeft {
    width: 50%;
    float: left;
}

.halfSectionRight {
    width: 50%;
    float: right;
}

.events img {
    padding-left: 20%;
    padding-top: 10%;
}

.float {
    float: right;
}

.youtube {
    margin-left: 27%;
}


.contact {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    padding-top: 20px;
}

.rqstbtn {
    padding-top: 25px;
    margin-left: 37%;    
    
}

#element {
    margin-left: 35%;
    margin-top: 10%;
}

.responsive  {
    width:100%;
    height: auto;
    }

/* Footer */
.footerDesign {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #652a75, black);
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(1.5);
}

footer {
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, #652a75, black);
    /* border-radius: 0 0 50% 50%/0 0 100% 100%; */
    transform: scaleX(1.5);
}

/* font family - goole fonts 
font-family: 'Montserrat', sans-serif; //regular
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Poiret One', cursive; // use for p
font-family: 'Righteous', cursive; // use for header
*/